// @import "../variables.scss"; // not needed? - import categories all.scss -> app.scss?

.categories {
  padding: 5px;
  width: 100%;
  overflow: auto;
  scroll-snap-type: x mandatory;

  ul {
    display: flex;
    align-items: center;
    width: 785px;
  }

  button {
    // background-color: #f9f9f9;
    background-color: $light;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    // transition: background-color 0.1s ease-in-out;
    transition: all $duration ease-in-out;
    outline-offset: 2px;
    scroll-snap-align: start;

    &.active {
      //   background-color: #282828;
      background-color: $black-active;
      color: #fff;
    }

    &:hover:not(.active) {
      background-color: darken($light, 3%);
    }
  }
}
