@import "../../scss/variables.scss";

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  max-width: 300px;
  width: 100%;

  .searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    position: absolute;
    left: 10px;
  }

  input {
    font-size: inherit;
    padding: 10px 5px;
    padding-left: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%; // with parent .search having max-width and width 100% -> will resize (otherwise if only set max-width on input -> dynamic resize not work according to window width?)
  }

  .closeIcon {
    opacity: 0.3;
    position: absolute;
    padding: 0 10px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    svg {
      width: 22px;
      height: 22px;
    }

    &:focus-visible,
    &:hover {
      opacity: 0.4;
    }
  }
}
