$background: #ffdf8c;
$orange: #fe5f1e;
$black: #232323;
$black-active: #282828;
$gray: #7b7b7b;
$gray-separator: #ffffff40;
$gray-line: #f6f6f6;
$light: #f9f9f9;
$light-gray: #f3f3f3;

$container-width: 90%;

$duration: 0.15s;
