@import "./_variables.scss";
@import "./normalize.scss";
@import "./components/_all.scss";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 30px);
  height: 100%;
  // background-color: #fff;
  background-color: white;
  margin: 15px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (min-width: 645px) {
    width: calc(100vw - 100px);
    margin: 50px auto;
  }
}

.container {
  margin: 0 auto;
  width: 90%;
  margin-top: 40px; // separate from header border bottom spacing
  padding-bottom: 40px; // for white space bottom
}

.container__top {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.8rem;

  // @media (min-width: 645px) {
  @media (min-width: 820px) {
    flex-direction: row;
    gap: 1rem;
  }
}

.btn {
  display: flex;
  align-items: center;
  color: #ffff;
  font-weight: 600;
  border: none;
  line-height: 23px;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  transition: all $duration ease-in-out;
}

.btn--primary {
  background-color: $orange;
  &:hover {
    background-color: darken($orange, 8%);
  }

  &:active {
    background-color: darken($orange, 12%);
    transform: translateY(1px);
  }
}

.btn--secondary {
  border: 1px solid #d3d3d3;
  color: #c3c3c3;

  &:hover {
    background-color: $black;
    color: white;
  }
  &:active {
    transform: translateY(1px);
  }
}
