@import "./_variables.scss";
@import "./normalize.scss";
@import "./components/_all.scss";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 30px);
  height: 100%;
  // background-color: #fff;
  background-color: white;
  margin: 15px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (min-width: 645px) {
    width: calc(100vw - 100px);
    margin: 50px auto;
  }
}

.container {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 40px;
}

.container__top {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.8rem;

  @media (min-width: 645px) {
    flex-direction: row;
    gap: 1rem;
  }
}
